# Dependency directories
node_modules/
.npm

# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local


#vscode settiongs
.vscode
.vscode.github

#eslint
.eslintrc.cjs
.eslintcache

# firebase
firebase.init.json
database.rules.json
firebase.json
.firebaserc

#docs
docs/History
docs/.obsidian